{% extends 'layout.html.twig' %}

{% set bodyId = 'frontpage' %}

{% block bodyContent %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-4 mt-3">
            <div class="row">
                <div class="col-12">
                    <img src="/images/malte.jpg" class="img-circle mx-auto d-block" id="maltehuebner" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <h1 class="text-center">
                        Hej, ich bin Malte!
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p class="lead text-center">
                        Ich habe Medieninformatik studiert, arbeite gern mit Symfony, mag Leaflet und Geografie, fahre gern mit dem Rad draußen in der Natur herum und fotografiere hin und wieder.
                    </p>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-12">
                    <h3 class="text-center">
                        <i class="fa fa-check"></i>
                        Fähigkeiten
                    </h3>

                    <ul class="list-inline text-center">
                        {% for item in knowledge %}
                            <li class="list-inline-item">
                                {{ item }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-12">
                    <h3 class="text-center">
                        <i class="fa fa-file-text-o"></i>
                        <a href="{{ path('page', { slug: 'lebenslauf' }) }}">
                            Lebenslauf
                        </a>
                    </h3>

                    <p class="text-center">
                        Von 1988 bis heute: Mein Leben als ausführliche Langversion oder <a href="{{ path('page', { slug: 'lebenslauf-kurz' }) }}">übersichtliche Tabelle</a>.
                    </p>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-12">
                    <h3 class="text-center">
                        <i class="fa fa-bicycle"></i>
                        <a href="{{ path('page', { slug: 'projekte' }) }}">
                            Projekte
                        </a>
                    </h3>

                    <p class="text-center">
                        Was ich außer Radfahren und Symfony so treibe.
                    </p>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-12">
                    <h3 class="text-center">
                        <i class="fa fa-graduation-cap"></i>
                        <a href="{{ path('page', { slug: 'studium' }) }}">
                            Studium
                        </a>
                    </h3>

                    <p class="text-center">
                        Eine grobe Übersicht über sechs Jahre Medieninformatik und IT-Sicherheit an der Fachhochschule Wedel.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
